.Login-Button {
  width: 20vmin;
  height: 5vmin;
  background-color: #68b1ff;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 20px 20px;
}

.Login-Button:active
{
  box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
  border: solid 3px rgba(0, 0, 255, 0.5);
}

.Login-Button:hover {
  background-color: #76b8ff;
}

