.leave-Button{
    width: 20vmin;
    height: 5vmin;
    background-color: #ff3333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px 20px;
}

.leave-Button:hover {
    background-color: #ff9999;
  }